<%= form_for @customer, :url => {:action => :create, :controller => :customers} do |f| %>
 <section>
  <p>
    <%= f.label :title, 'Label' %><br />
    <%= f.text_field :title, placeholder: "Roselle - East Orange"  %>
  </p>

  <p>
    <%= f.label :company, 'Company Name' %><br />
    <%= f.text_field :company, placeholder: "Roselle Disposal"  %>
  </p>

  <p>
    <%= f.label :contact_person, 'Contact Person' %><br />
    <%= f.text_field :contact_person, placeholder: "Keith Salerno"  %>
  </p>

  <p>
    <%= f.label :notes, 'Notes' %><br />
    <%= f.text_area :notes, placeholder: "Usually late..."  %>
  </p>

    <% f.fields_for :address do |address| %>
      <%= render :partial => 'shared/address', :locals => {:f => address} %>
    <% end %>

    <%= f.submit 'Add Customer', class: 'btn btn-info' %>
  </section>
<% end %>
